<h1>Cocktails</h1>
<a href="/cocktails/new">Create your Cocktail</a>

<% @cocktails.each do |cocktail| %>
<h2><a href="/cocktails/<%= cocktail.id %>"><%= cocktail.name %></a></h2>
<!-- <p><%= cocktail.ingredient1 %></p>
<p2><%= cocktail.ingredient2 %></p2>
<p3><%= cocktail.ingredient3 %></p3>
<p4><%= cocktail.ingredient4 %></p4>
<p5><%= cocktail.ingredient5 %></p5>
<p6><%= cocktail.ingredient6 %></p6>
<p7><%= cocktail.instruction %></p7> -->
<img scr="<%= cocktail.image %>" alt="cocktail">
<% end %>
