<h1><%= @cocktail.name %></h1>


<h3> Ingredients: </h3>

  <p><%= @cocktail.ingredient1 %>, <%= @cocktail.ingredient2 %>, <%= @cocktail.ingredient3 %>, <%= @cocktail.ingredient4 %>, <%= @cocktail.ingredient5 %>, <%= @cocktail.ingredient6 %></p>



<h4> Instructions: </h4>
<p><%= @cocktail.instruction %></p>



<p><a href="/cocktails/edit">Edit Beverage</a></p>  
