<h1><%= @cocktail.name %></h1>

<img src="<%= @cocktail.image %>" alt="https://img1.mashed.com/img/gallery/the-most-popular-cocktails-to-make-during-quarantine/intro-1590094211.jpg" width="110" height="100">


<h3> Ingredients: </h3>

  <p><%= @cocktail.ingredient1 %>, <%= @cocktail.ingredient2 %>, <%= @cocktail.ingredient3 %>, <%= @cocktail.ingredient4 %>, <%= @cocktail.ingredient5 %>, <%= @cocktail.ingredient6 %></p>



<h4> Instructions: </h4>
<p><%= @cocktail.instruction %></p>



<p><a href="/cocktails/edit">Edit Beverage</a></p>  
